<html>
<body>
    <header>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <p style="text-align: left;font-size: 24px;margin-top: 15px;">TIBSmartMigrator</p>
                </div>
                
            </div>
        </div>
    </header>
    <div class="container register">
        <div class="row">
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">LOGIN</h3> 
                    <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm.value)" class="row register-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username *" name="username" ngModel required/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" name="password" ngModel required/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-lg btn-block btnRegister">Login</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h1 style="color:#052F87"><b>Cognizant</b></h1>
    </footer>
</body>
</html>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" template="<img src='assets/spinner.gif' />"><br>
  <p style="color: white; text-align: center;margin-top: 130px;">Please Wait... </p>  
</ngx-spinner> 
